<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Main_Page</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static',filename='attendance.css')}}">
    </head>
    <body>
        <div class="main_contents">
            <div class="logo">📝</div>
            <div class="uni">KATHMANDU UNIVERSITY<br>
            Dhulikhel, Kavrepalanchowk</div>
            <h1><b>SMART ATTENDANCE SYSTEM </b></h1>
             <p class="info">Digital attendance tracking for modern classrooms.<br>
             Attendance made simple, fast and accurate.</p>
             <div class="layout"> Select your role to continue</div>
             <div class="role_buttons">
                <a href="/student-login" class="role-student">
                    <span class="badge">🧑‍🎓</span>
                    <span class="label">Student</span>
                    <span class="sublabel">View attendance records</span>
                </a>
                <a href="/teacher-login"class="role-teacher">
                    <span class="badge">🧑‍🏫</span>
                    <span class="label">Teacher</span>
                    <span class="sublabel">Manage records<br></span>
                    </a>
                </div>
                <div class="bottom">Smart Attendance System © 2026 </div>
        </div>
        
    </body>
</html>
